# =========================
# Spring Boot / Java
# =========================
target/
*.class
*.jar
*.war
*.ear
*.log
logs/
hs_err_pid*
replay_pid*

# =========================
#backend
# =========================
backend/docs

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Gradle
# =========================
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# =========================
# NetBeans
# =========================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Env / Secrets (IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# Optional: local docker volumes / db files
# =========================
*.sqlite
*.db
