spring:
  application:
    name: spendsense-api
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  #security
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${CLERK_ISSUER_URI}

  #database configuration
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  #jpa/hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: ${SHOW_SQL}
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  #flyway configuration
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

clerk:
  webhook-secret: ${CLERK_WEBHOOK_SECRET}

rate-limit:
  enabled: ${RATE_LIMIT_ENABLED}
  requests-per-minute: ${RATE_LIMIT_RPM}

#server configuration
server:
  port: ${SERVER_PORT}
  servlet:
    context-path: /api/v1

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

# Logging Configuration
logging:
  level:
    com.spendsense: ${LOG_LEVEL}
    org.hibernate.SQL: ${SQL_LOG_LEVEL}
    org.hibernate.type.descriptor.sql.BasicBinder: ${BINDER_LOG_LEVEL}
